@model CapstoneProj3.Models.PEO

@{
    ViewBag.Title = "InsertSyll";
    
}

<h2>InsertSyll</h2>

<div>
    <h4>Syllab</h4>
    <hr />

    <table>
        <thead class="thead-dark">
            <tr>
                <th class="text-center"> Syllabus_ID</th>
                <th class="text-center">Course_ID</th>
                <th class="text-center">User_ID</th>
                
                <th class="text-center" colspan="2">Action</th>

            </tr>
        </thead>
        <tbody>
            
            
            <tr>
                <td>
                    
                </td>
                <td>
                    
                </td>
                <td>
                    
                </td>

            </tr>
            
        </tbody>
    </table>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
